<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Site</title>

  <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
  <link href="{% static 'assets/libs/nestable2/jquery.nestable.min.css' %}" rel="stylesheet" />
  <!-- App css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'index.css' %}">
  
</head>
<body>
    {% include "partials/_nav.html" %}
 <br><br><br><br>
  <div id="app"></div>
{% render_bundle 'frontend' %}


{% include "partials/_footer.html" %}

 <!-- Vendor js -->
 <script src="{% static 'assets/js/vendor.min.js' %}"></script>

 <script src="{% static 'assets/libs/jquery-knob/jquery.knob.min.js' %}"></script>
 <script src="{% static 'assets/libs/peity/jquery.peity.min.js' %}"></script>
 
 <!-- Sparkline charts -->
 <script src="{% static 'assets/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
 
 <!-- init js -->
 <script src="{% static 'assets/js/pages/dashboard-1.init.js' %}"></script>
 
 <!-- Plugins js-->
 <script src="{% static 'assets/libs/nestable2/jquery.nestable.min.js' %}"></script>

 <!-- Nestable init-->
 <script src="{% static 'assets/js/pages/nestable.init.js' %}"></script>
 <!-- App js -->
 <script src="{% static 'assets/js/app.min.js' %}"></script>
</body>
</html>